body {background: url("https://i.postimg.cc/3Ntpw9BP/CORVETTE.jpg") fixed;background-repeat: no-repeat;background-size: cover;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: Arial !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* Buttons */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(93, 93, 93, 0.21);
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
}
 
 
/* Links */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
}
 
/* Topbar */
 
.topbar {
background: rgba(93, 93, 93, 0.70);
border: 1px solid #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.badge {
background: rgba(93, 93, 93, 0.21);
border: 1px solid #000;
}
 
/* Navigational Bar */
 
.main {
background: rgba(93, 93, 93, 0.21);
border: 1px solid #000;
box-shadow: none;
}
 
.navbar {
background: rgba(93, 93, 93, 0.21);
border-bottom: 1px solid #000;
color: #000;
}
 
.navbar-default .navbar-nav > li > a {
color: #000;
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #eae9ee;
border-left: 1px solid #000;
border-right: 1px solid #000;
} 
 
 
 
/* Sidebar */
 
.sidebar {
background: rgba(93, 93, 93, 0.21);
border: 0px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
color: #000;
}
 
.col-md-3 .panel {
background: rgba(93, 93, 93, 0.21);
border: 1px solid #000;
box-shadow: none;    
}
 
.progress-bar {
background: #5D5D5D;
}
 
.progress {
background: #f7f7f7;
border: 1px solid #000;
}
 
 
/* Chat */
 
.chat_light, .chat_dark {
background: rgba(93, 93, 93, 0.21);
font-size: 11px;
color: #000;
}

.chatContainer {
border: 1px solid #000;
}
 
.userstolen {
background: none;
}

.alert-danger {
color: #000000;
background: rgba(93, 93, 93, 0.21);
border: 1px solid #000;
}

.alert-success {
color: #000;
background: rgba(93, 93, 93, 0.21);
border: 1px solid #000;
}

.breadcrumb {
background:  rgba(93, 93, 93, 0.21);
font-size: 13px;
border: 1px solid #000;
}
 
.breadcrumb>.active {
color: #000;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
}
 
.col-md-9 {
background: none;
border: 0px solid #000;
}
 
/* Tables */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
}
 
.table, .item {
border: 1px solid #000;
background: rgba(93, 93, 93, 0.21);
border-collapse: separate;
}

.table .right, .table .right_odd {
background: none;
border: 0px solid #000;
}

div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: rgba(93, 93, 93, 0.21);
color: #000;
}

.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #5D5D5D;
color: #000;
}

.table .left {
border: 1px solid #000;
background: rgba(93, 93, 93, 0.21);
color: #000;
}

.inner-table .right {
background: rgba(93, 93, 93, 0.21);
border: 1px solid #000;
border-left: none;
}
/* PREGNANT LIONESSES */

div.cave-grid>img {
	content: url('https://i.postimg.cc/fy71jx6L/746463315-1381033347243767-2413904374900258847-n.jpg')!important;

/* CAVES (Copy paste to add more) */

a[href$="cave ID here"]>div.cave-grid>img {
	content: url('IMG URL HERE')!important;
}
a[href$="cave ID here"]>div.cave-grid>img {
	content: url('URL HERE')!important;
}
a[href$="cave ID here"]>div.cave-grid>img {
	content: url('URL HERE')!important;
}


/* UNSORTED */

a[href$="unsorted.php?id=USERID"]>div.cave-grid>img {
	content: url('https://i.postimg.cc/fy71jx6L/746463315-1381033347243767-2413904374900258847-n.jpg')!important;
}


/* PRIDE OVERVIEW */

a[href$="lionoverview.php?id=USERID"]>div.cave-grid>img {
	content: url('https://i.postimg.cc/fy71jx6L/746463315-1381033347243767-2413904374900258847-n.jpg')!important;
}


/* MOUNDS */

.mound-grid img {
	background: url('https://i.postimg.cc/fy71jx6L/746463315-1381033347243767-2413904374900258847-n.jpg');
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px;
}

.credit {
background: rgb(115 147 109 / 70%);

color: #8bb994;

z-index:100;

padding: 10px;

border: none;

position: fixed;

text-align: center;

border-radius: 5px;

left: 0px;

bottom: 0px;

width: auto;

height: auto;

overflow: auto;

border-width: 2px !important;

border-style: solid !important;

border-color: rgba(0,0,0) !important;

border-image: initial !important;

border: none !important;
}
.breadcrumb {
    position: relative;
}

.breadcrumb::after {
    content: "CSS by Kyle Gaz Garrick (#496397)";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 12px;
    z-index: 100;
}
html {
    cursor: url("https://i.postimg.cc/C1ngDnhh/stubby-normal3.jpg"), auto;
}

a,
button,
input,
select,
textarea {
    cursor: pointer;
}
}.navbar-header img {
    opacity: 0;
}
.navbar-header a {
    position: relative;
}

.navbar-header a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 180px;
    height: 70px;

    background: url("https://i.postimg.cc/nrgvC7wq/CORVETTE.jpg") center/contain no-repeat;
}
.container.main::after {
    content: "";

    position: fixed;
    right: 20px;
    bottom: 0;

    width: 260px;
    height: 350px;

    background: url("https://i.postimg.cc/nrgvC7wq/CORVETTE.jpg") center/contain no-repeat;

    pointer-events: none;
    z-index: 999;
}
