body {background: url("https://i.postimg.cc/3Ntpw9BP/CORVETTE.jpg") fixed;background-repeat: no-repeat;background-size: cover;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: Arial !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* Buttons */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(93, 93, 93, 0.21);
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
}
 
 
/* Links */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
}
 
/* Topbar */
 
.topbar {
background: rgba(93, 93, 93, 0.70);
border: 1px solid #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.badge {
background: rgba(93, 93, 93, 0.21);
border: 1px solid #000;
}
 
/* Navigational Bar */
 
.main {
background: rgba(93, 93, 93, 0.21);
border: 1px solid #000;
box-shadow: none;
}
 
.navbar {
background: rgba(93, 93, 93, 0.21);
border-bottom: 1px solid #000;
color: #000;
}
 
.navbar-default .navbar-nav > li > a {
color: #000;
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #eae9ee;
border-left: 1px solid #000;
border-right: 1px solid #000;
} 
 
 
 
/* Sidebar */
 
.sidebar {
background: rgba(93, 93, 93, 0.21);
border: 0px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
color: #000;
}
 
.col-md-3 .panel {
background: rgba(93, 93, 93, 0.21);
border: 1px solid #000;
box-shadow: none;    
}
 
.progress-bar {
background: #5D5D5D;
}
 
.progress {
background: #f7f7f7;
border: 1px solid #000;
}
 
 
/* Chat */
 
.chat_light, .chat_dark {
background: rgba(93, 93, 93, 0.21);
font-size: 11px;
color: #000;
}

.chatContainer {
border: 1px solid #000;
}
 
.userstolen {
background: none;
}

.alert-danger {
color: #000000;
background: rgba(93, 93, 93, 0.21);
border: 1px solid #000;
}

.alert-success {
color: #000;
background: rgba(93, 93, 93, 0.21);
border: 1px solid #000;
}

.breadcrumb {
background:  rgba(93, 93, 93, 0.21);
font-size: 13px;
border: 1px solid #000;
}
 
.breadcrumb>.active {
color: #000;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
}
 
.col-md-9{
    background:none;
    border:0;
    position:relative;
    overflow:visible;
}
 
/* Tables */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
}
 
.table, .item {
border: 1px solid #000;
background: rgba(93, 93, 93, 0.21);
border-collapse: separate;
}

.table .right, .table .right_odd {
background: none;
border: 0px solid #000;
}

div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: rgba(93, 93, 93, 0.21);
color: #000;
}

.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #5D5D5D;
color: #000;
}

.table .left {
border: 1px solid #000;
background: rgba(93, 93, 93, 0.21);
color: #000;
}

.inner-table .right {
background: rgba(93, 93, 93, 0.21);
border: 1px solid #000;
border-left: none;

}
/*Navbar Lioden Logo*/
img[src$="https://i.postimg.cc/nrgvC7wq/CORVETTE.jpg"] {
content: url('https://i.imgur.com/LiodenLogoReplacement.png');
}
/*Unsorted Lions*/
img[src$="unsortedlionsbanner.png"] {
content: url('https://i.postimg.cc/D4STjtPy/743081380-27849500124644791-8224747940941158166-n.jpg')!important;
}

/*Nesting*/
img[src$="nestingbanner.png"] {
content: url('https://i.postimg.cc/zbDGq28T/742799100-1365587775669589-4836973436538232005-n.jpg')!important;
}

/*Overview*/
img[src$="overviewbanner.png"] {
content: url('https://i.postimg.cc/G89nMWbY/742045426-1945378356167042-674473160213143009-n.jpg')!important;
}

/*Default Mound Image*/
img[src$="beetleunsorted.png"] {
content: url("https://i.postimg.cc/GT2Mbs3w/746463315-1381033347243767-2413904374900258847-n.jpg") !important;
}

img[src$="beetlemound.png"] {
content: url("https://i.postimg.cc/GT2Mbs3w/746463315-1381033347243767-2413904374900258847-n.jpg") !important;
}

img[src$="addbeetlemound.png"] {
content: url("https://i.postimg.cc/GT2Mbs3w/746463315-1381033347243767-2413904374900258847-n.jpg") !important;
}
/*Default*/
img[src$="cavedefault.jpg"] {
content: url("https://i.postimg.cc/qzTZqPWP/742185681-1387645573263968-8228856639868661354-n.jpg") !important;
}
/*Unused Slot*/
img[src$="caveunused.jpg"] {
content: url("https://i.postimg.cc/T5pm33fD/742031157-1984855878885991-1652869808125409312-n.jpg") !important;
}
/*Navbar Lioden Logo*/
img[src$="logo-full-2.png"] {
content: url('https://i.postimg.cc/Y9brgWBS/nav.png');}

.main{
    position: relative;
}

.main::after{
    content:"";
    position:fixed;

    bottom:30px;
    left:50%;

    width:350px;
    height:500px;

    margin-left:600px;

    background:url("https://i.postimg.cc/nrgvC7wq/CORVETTE.jpg") no-repeat bottom center;
    background-size:contain;

    pointer-events:none;
    z-index:100;
}
/* Cursor*/
body {
cursor: url("https://cdn.cursors-4u.net/css-previews/cigarette-1b09ff6c-css.webp"), auto;
}



